/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.slash{
        font-size: 1.625rem;
        //padding: 2px;
        float: left;
        padding-right:2px;
        margin-right:2px;
        margin-left:2px;
        letter-spacing: 0px;
}

.site-title, .slash{
        margin-top: 10px;
        padding-right:1px;
        font-weight: 900;
        font-size: 50px;
        color: #414040;    
}

.site-title{
        letter-spacing: 3px;
}

.site-title, .slash, .page-link, .post-link, .post-title {
        font-family: 'Lato', sans-serif;
}

.post-content {
        font-family: 'Source Serif Pro', serif;
}


/** Site header */
.site-header { 
        border-bottom: none; 
}


#posts {
        font-family: 'Lato', sans-serif;
}
